node_modules
.env
index.html
test.html
test.js
test.ts
servers.js
servers.js

logs
*.log
.DS_Store
coverage
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
dist
build
.cache
.idea
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
out
.nuxt
*.local
.svelte-kit
*.rpt2_cache
*.rts2_cache_cjs
*.rts2_cache_es
*.rts2_cache_umd
*.rts2_cache_system
.webpack
.jspm-cache
.babelrc.js
.babelrc.cjs
.babelrc.mjs
.babelrc.json
.babel.config.js
.babel.config.cjs
.babel.config.mjs
.babel.config.json
.eslintrc.js
.eslintrc.cjs
.eslintrc.mjs
.eslintrc.json
.prettierrc
.prettierrc.js
.prettierrc.cjs
.prettierrc.mjs
.prettierrc.json
.stylelintrc
.stylelintrc.js
.stylelintrc.cjs
.stylelintrc.mjs
.stylelintrc.json
.tailwind.config.js
.tailwind.config.cjs
.tailwind.config.mjs
.tailwind.config.json
postcss.config.js
postcss.config.cjs
postcss.config.mjs
postcss.config.json
tsconfig.json
tsconfig.build.json
jsconfig.json
webpack.config.js
webpack.config.cjs
webpack.config.mjs
webpack.config.json
rollup.config.js
rollup.config.cjs
rollup.config.mjs
rollup.config.json
vite.config.js
vite.config.cjs
vite.config.mjs
vite.config.json
jest.config.js
jest.config.cjs
jest.config.mjs
jest.config.json
karma.conf.js
karma.conf.cjs
karma.conf.mjs
karma.conf.json
mocha.opts
nyc.config.js
nyc.config.cjs
nyc.config.mjs
nyc.config.json
.protractor.conf.js
.protractor.conf.cjs
.protractor.conf.mjs
.protractor.conf.json
.cypress
.cypress.json
.testcaferc.json
.testcaferc.js
.testcaferc.cjs
.testcaferc.mjs
.htaccess
.nuxt
.serverless
.firebase
.vercel
.now
.azure
